<!DOCTYPE html>
<!--suppress HtmlRequiredTitleElement, HtmlFormInputWithoutLabel -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{fragments/layout :: common_header ('HeckZero :: user management')}"></head>
    <body>
        <nav th:replace="~{fragments/layout :: common_nav (${title}, 'Home', '/')}"></nav>
        <div class="container my-5">
            <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
                <div class="row">
                    <input th:replace="~{fragments/user-field :: input ('Login',            'login',        'text')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Password',         'password',     'text')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Privileges',       'god',          'priv')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Clan',             'clan',         'text')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Sex',              'man',          'sex')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Email',            'email',        'email')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Experience',       'exp',          'exp')}"/>
                    <input th:replace="~{fragments/user-field :: input ('HP',               'hp',           'number')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Profession',       'pro',          'pro')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Profession power', 'propwr',       'propwr')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Rank points',      'rankPoints',   'ranks')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Psy power',        'psy',          'number')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Copper money',     'cup_0',        'number')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Silver money',     'silv',         'number')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Gold money',       'gold',         'number')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Perk money',       'p78money',     'number')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Strength',         'str',          'number')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Dexterity',        'dex',          'number')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Power',            'pow',          'number')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Accuracy',         'acc',          'number')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Intellect',        'intel',        'number')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Ban reason',       'dismiss',      'text')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Chat block until', 'chatblock',    'date')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Forum block until', 'forumblock',  'date')}"/>
                    <input th:replace="~{fragments/user-field :: input ('Account type',     'bot',          'bot')}"/>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <button type="submit" class="btn btn-success">Save<i class="fas fa-user-plus ml-2"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>