<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/shards.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >

        <title>Items</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand nav-link" href="#">User items</a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Back to users list</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container my-5">
            <div class="col-md-8">
                <h3 th:if="${userItems.isEmpty()}" class="text-center">This user have no items yet</h3>
                <table th:if="${!userItems.isEmpty()}" class="table table-hover table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Pcs in stack</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${userItems}">
                            <td th:text="${item.id}"></td>
                            <td><a th:href="@{/edit/items(owner=${userId}, itemId=${item.id})}" th:text="${item.txt}" class="nav-link"></a></td>
                            <td th:text="${item.type}"></td>
                            <td th:text="${item.count.isEmpty()} ? 'non-stackable' : ${item.count}"></td>
                            <td><a th:href="@{/delete/items(owner=${userId}, itemId=${item.id})}" class="btn btn-outline-danger">Remove</a></td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Pagination" th:if="${totalPages > 1}">
                    <ul class="pagination justify-content-center font-weight-medium">
                        <th:block th:each="i : ${#numbers.sequence(1, totalPages)}"
                                  th:with="isDisabled=${i == curPage - 4 || i == curPage + 4}, validPage=${i == 1 || (i >= curPage - 3 && i <= curPage + 3) || i == totalPages}">
                            <li th:if="${validPage || isDisabled}" th:class="page-item" th:classappend="${curPage == i} ? 'active' : (${isDisabled && !validPage} ? 'disabled')">
                                <a th:class="page-link" th:text="${isDisabled && !validPage} ? '...' : ${i}" th:href="@{/items(owner=${userId}, page=${i})}"></a>
                            </li>
                        </th:block>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="container my-5">
            <form class="row g-3" action="#" method="post" th:object="${itemTemplateWrapper}" th:action="@{/additem(owner=${userId})}">
                <label for="item_template">Want to add some?</label>
                <div class="col-md-5">
                    <select th:field="${itemTemplateWrapper.item}" id="item_template" class="form-control selectpicker" data-live-search="true">
                        <option th:each="template : ${items}"
                                th:value="${template.id}"
                                th:text="${template}">
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success col-auto">Add item</button>
            </form>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
</html>