<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/shards.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

        <title>Update Item</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container">
                <h3 class="navbar-brand" th:text="${'Edit item ' + item.txt}"></h3>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/items(owner=${item.userId})}">Back to user items</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container my-5">
            <form action="#" th:action="@{/update/items(itemId=${item.id})}" th:object="${item}" method="post">
                <div class="row">
                    <div th:if="*{count != ''}" class="form-group col-md-3">
                        <label for="count" class="col-form-label">Count</label>
                        <input type="number" min="0" th:field="*{count}" class="form-control" id="count" placeholder="count">
                        <span th:if="${#fields.hasErrors('count')}" th:errors="*{count}" class="text-danger"></span>
                    </div>
                    <div th:if="*{quality != ''}" class="form-group col-md-3">
                        <label for="quality" class="col-form-label">Quality</label>
                        <input type="number" min="0" th:field="*{quality}" class="form-control" id="quality" placeholder="quality">
                        <span th:if="${#fields.hasErrors('quality')}" th:errors="*{quality}" class="text-danger"></span>
                    </div>
                    <div th:if="*{maxquality != ''}" class="form-group col-md-3">
                        <label for="maxquality" class="col-form-label">Max quality</label>
                        <input type="number" min="0" th:field="*{maxquality}" class="form-control" id="maxquality" placeholder="max quality">
                        <span th:if="${#fields.hasErrors('maxquality')}" th:errors="*{maxquality}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="dt" class="col-form-label">Expire date</label>
                        <input type="date" th:field="*{dt}" class="form-control" id="dt" placeholder="expire date">
                        <span th:if="${#fields.hasErrors('dt')}" th:errors="*{dt}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="nt" class="col-form-label">Transfer availability</label>
                        <select th:field="*{nt}" class="form-control" id="nt">
                            <option th:text="Transferrable" th:value="''"></option>
                            <option th:text="Non-transferrable" th:value="'1'"></option>
                            <option th:text="Droppable" th:value="'2'"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('nt')}" th:errors="*{nt}" class="text-danger"></span>
                    </div>
                    <div th:if="*{min != ''}" class="form-group col-md-6">
                        <label for="min" class="col-form-label">Min requirements</label>
                        <input type="text" th:field="*{min}" class="form-control" id="min" placeholder="min requirements">
                        <span th:if="${#fields.hasErrors('min')}" th:errors="*{min}" class="text-danger"></span>
                    </div>
                    <div th:if="*{up != ''}" class="form-group col-md-6">
                        <label for="up" class="col-form-label">Up parameters</label>
                        <input type="text" th:field="*{up}" class="form-control" id="up" placeholder="up parameters">
                        <span th:if="${#fields.hasErrors('up')}" th:errors="*{up}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <button type="submit" class="btn btn-success">Done<i class="fas fa-user-edit ml-2"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>