<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{fragments/layout :: common_header ('HeckZero :: users')}"></head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand nav-link" href="/users">Users</a>
        </div>
            <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/users}">
                <input type="search" class="form-control mr-sm-2" placeholder="Enter login..." aria-label="Search" id="search-input" name="search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
        <div class="container my-5">
            <table class="table table-hover table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Login</th>
                        <th>Items</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td><a th:href="@{/edit/users(id=${user.id})}" th:text="${user.login}" class="nav-link"></a></td>
                        <td><a th:href="@{/items(owner=${user.id})}" class="btn btn-info">Manage Items<i class="fas fa-list ml-2"></i></a></td>
                        <td><a th:href="@{/delete/users(id=${user.id})}" class="btn btn-outline-danger">Remove<i class="fas fa-user-times ml-2"></i></a></td>
                    </tr>
                    <tr>
                        <td colspan="5"><a th:href="${'/adduser'}" class="nav-link">Add new user<i class="fas fa-user-plus ml-2"></i></a></td>
                    </tr>
                </tbody>
            </table>
            <nav th:replace="~{fragments/layout :: common_pagination (${totalPages}, ${curPage}, '/users' + (${search} ? '?search=' + ${search} : ''))}"></nav>
        </div>
    </body>
</html>