<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/shards.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

        <title>Users</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container">
                <h3 class="navbar-brand">Users</h3>
            </div>
        </nav>
        <div class="container my-5">
            <table class="table table-hover table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Login</th>
                        <th>Items</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td><a th:href="@{/edit/users(id=${user.id})}" th:text="${user.login}" class="nav-link"></a></td>
                        <td><a th:href="@{/items(owner=${user.id})}" class="btn btn-primary">Manage Items<i class="fas fa-list ml-2"></i></a></td>
                        <td><a th:href="@{/delete/users(id=${user.id})}" class="btn btn-primary">Remove<i class="fas fa-user-times ml-2"></i></a></td>
                    </tr>
                    <tr>
                        <td colspan="5"><a th:href="${'/adduser'}" class="nav-link">Add new user<i class="fas fa-user-plus ml-2"></i></a></td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Pagination" th:if="${totalPages > 0}">
                <ul class="pagination justify-content-center font-weight-medium">
                    <th:block th:each="i : ${#numbers.sequence(1, totalPages)}"
                              th:with="validPage=${i == 1 || (i >= curPage - 3 && i <= curPage + 3) || i == totalPages}">
                        <li th:if="${validPage}" class="page-item" th:classappend="${curPage eq i} ? 'active'">
                            <a class="page-link svg-icon" th:href="@{/users(page=${i})}" th:text="${i}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${not validPage and (i == curPage - 4 or i == curPage + 4)}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </div>
    </body>
</html>